RingLED/TemperatureLight.json
[{"id":"4b997af2.b46684","type":"mqtt-broker","broker":"10.0.1.252","port":"1883","clientid":"NodeRedColorLight"},{"id":"6164fdf0.9e9b04","type":"mqtt in","name":"Color Changes","topic":"/sensornet/echo","broker":"4b997af2.b46684","x":117,"y":105,"z":"18dc14d0.e723eb","wires":[["12f78ce5.ed0873"]]},{"id":"6c891c81.9376e4","type":"mqtt out","name":"Set Light Color","topic":"/sensornet/command/color","qos":"","retain":"","broker":"4b997af2.b46684","x":985.5000076293945,"y":605.0000095367432,"z":"18dc14d0.e723eb","wires":[]},{"id":"2daa8644.d2557a","type":"inject","name":"Full Brightness","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[255,255,255]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":116.25000762939453,"y":809.2500095367432,"z":"18dc14d0.e723eb","wires":[["6c891c81.9376e4"]]},{"id":"38e861f8.c7179e","type":"inject","name":"Off","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[0,0,0]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":134.25000762939453,"y":868.2500095367432,"z":"18dc14d0.e723eb","wires":[["6c891c81.9376e4"]]},{"id":"f040fa75.0fbf08","type":"inject","name":"Blue","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[0,0,255]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":138.25000762939453,"y":632.2500095367432,"z":"18dc14d0.e723eb","wires":[["6c891c81.9376e4"]]},{"id":"cb27c140.34d84","type":"inject","name":"Warm white","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[200,200,80]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":125.25000762939453,"y":695.2500095367432,"z":"18dc14d0.e723eb","wires":[["6c891c81.9376e4"]]},{"id":"36dad088.c9253","type":"inject","name":"Pink","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[255,40,40]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":137.25000762939453,"y":756.2500095367432,"z":"18dc14d0.e723eb","wires":[["6c891c81.9376e4"]]},{"id":"12f78ce5.ed0873","type":"json","name":"JSON","x":311,"y":107,"z":"18dc14d0.e723eb","wires":[["29d2f2c7.d62d0e"]]},{"id":"29d2f2c7.d62d0e","type":"function","name":"Get Color","func":"if (msg.payload.Command == \"COLOR\") {\n    var outputMsgs = [];\n    var color = msg.payload.Color.split(\",\");\n    for (var c in color) {\n        outputMsgs.push({payload:color[c]});\n    }\n    return [ outputMsgs ];\n} else {\n    return msg;\n}","outputs":"3","noerr":0,"x":489,"y":183,"z":"18dc14d0.e723eb","wires":[["a3e40624.5c1bf8"],["a3e40624.5c1bf8"],["a3e40624.5c1bf8"]]},{"id":"a3e40624.5c1bf8","type":"debug","name":"Color Debug","active":false,"console":"false","complete":"payload","x":688,"y":93,"z":"18dc14d0.e723eb","wires":[]},{"id":"691463ef.96eb9c","type":"mqtt in","name":"Living Room Temperature","topic":"/sensornet/env/home/temperature","broker":"4b997af2.b46684","x":125,"y":223,"z":"18dc14d0.e723eb","wires":[["d0d0cb6d.2f2f38"]]},{"id":"d7ac98de.285368","type":"function","name":"Get Temperature","func":"msg.payload = msg.payload.Value\nreturn msg","outputs":"1","noerr":0,"x":504,"y":298,"z":"18dc14d0.e723eb","wires":[["61a35916.9e5ca8"]]},{"id":"d0d0cb6d.2f2f38","type":"json","name":"JSON","x":327,"y":260,"z":"18dc14d0.e723eb","wires":[["d7ac98de.285368"]]},{"id":"18957279.e76a8e","type":"function","name":"FalseColor","func":"/* accepts parameters\n * h  Object = {h:x, s:y, v:z}\n * OR \n * h, s, v\n*/\nfunction HSVtoRGB(h, s, v) {\n    var r, g, b, i, f, p, q, t;\n    if (arguments.length === 1) {\n        s = h.s, v = h.v, h = h.h;\n    }\n    i = Math.floor(h * 6);\n    f = h * 6 - i;\n    p = v * (1 - s);\n    q = v * (1 - f * s);\n    t = v * (1 - (1 - f) * s);\n    switch (i % 6) {\n        case 0: r = v, g = t, b = p; break;\n        case 1: r = q, g = v, b = p; break;\n        case 2: r = p, g = v, b = t; break;\n        case 3: r = p, g = q, b = v; break;\n        case 4: r = t, g = p, b = v; break;\n        case 5: r = v, g = p, b = q; break;\n    }\n    return {\n        r: Math.round(r * 255),\n        g: Math.round(g * 255),\n        b: Math.round(b * 255)\n    };\n}\n\nvar outputMsgs = [];\nvar tem = msg.payload;\nvar aTem = (1-tem)-0.1667;\nif (aTem < 0) aTem = 1 + aTem;\nvar rgb = HSVtoRGB(aTem, 1, 1);\noutputMsgs.push({payload:rgb})\noutputMsgs.push({payload:aTem})\nreturn outputMsgs;","outputs":"2","noerr":0,"x":649.0000152587891,"y":435.2500057220459,"z":"18dc14d0.e723eb","wires":[["f387c4d2.0c7838","d5a3a980.2a5c58"],["d5a3a980.2a5c58"]]},{"id":"61a35916.9e5ca8","type":"range","minin":"15","maxin":"30","minout":"0","maxout":"1","action":"clamp","round":false,"name":"Scale temperature","x":615.7500114440918,"y":366.5000057220459,"z":"18dc14d0.e723eb","wires":[["18957279.e76a8e"]]},{"id":"f387c4d2.0c7838","type":"template","name":"Rewrite JSON msg","field":"payload","format":"handlebars","template":"{\"Command\":\"COLOR\",\"Color\":[{{payload.r}},{{payload.g}},{{payload.b}}]}\n","x":729.7500152587891,"y":493.7500057220459,"z":"18dc14d0.e723eb","wires":[["6c891c81.9376e4"]]},{"id":"d5a3a980.2a5c58","type":"debug","name":"","active":true,"console":"false","complete":"false","x":861.25,"y":255,"z":"18dc14d0.e723eb","wires":[]}]
