Node-Red/IoTHome-flow.js
[{"id":"9eac092b.6153f8","type":"mqtt-broker","broker":"10.0.1.250","port":"1883","clientid":"NodeRed"},{"id":"9a4340f9.65bcc","type":"mqtt out","name":"Set Light Color","topic":"/sensornet/command/color","qos":"","retain":"","broker":"9eac092b.6153f8","x":1380.5,"y":1324,"z":"4d31febf.b2ce","wires":[]},{"id":"cbcc447a.3433b8","type":"inject","name":"Full Brightness","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[255,255,255]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":166.75000762939453,"y":720.250006198883,"z":"4d31febf.b2ce","wires":[["9a4340f9.65bcc"]]},{"id":"8418dab1.7be728","type":"inject","name":"Off","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[0,0,0]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":184.75000762939453,"y":779.250006198883,"z":"4d31febf.b2ce","wires":[["9a4340f9.65bcc"]]},{"id":"8a616939.759e98","type":"inject","name":"Blue","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[0,0,255]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":188.75000762939453,"y":543.250006198883,"z":"4d31febf.b2ce","wires":[["9a4340f9.65bcc"]]},{"id":"2005b3be.dffa4c","type":"inject","name":"Warm white","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[200,200,80]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":175.75000762939453,"y":606.250006198883,"z":"4d31febf.b2ce","wires":[["9a4340f9.65bcc"]]},{"id":"4638d449.b9c72c","type":"inject","name":"Pink","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[255,40,40]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":187.75000762939453,"y":667.250006198883,"z":"4d31febf.b2ce","wires":[["9a4340f9.65bcc"]]},{"id":"a5601d40.5a9fe","type":"function","name":"FalseColor","func":"/* accepts parameters\n * h  Object = {h:x, s:y, v:z}\n * OR \n * h, s, v\n*/\nfunction HSVtoRGB(h, s, v) {\n    var r, g, b, i, f, p, q, t;\n    if (arguments.length === 1) {\n        s = h.s, v = h.v, h = h.h;\n    }\n    i = Math.floor(h * 6);\n    f = h * 6 - i;\n    p = v * (1 - s);\n    q = v * (1 - f * s);\n    t = v * (1 - (1 - f) * s);\n    switch (i % 6) {\n        case 0: r = v, g = t, b = p; break;\n        case 1: r = q, g = v, b = p; break;\n        case 2: r = p, g = v, b = t; break;\n        case 3: r = p, g = q, b = v; break;\n        case 4: r = t, g = p, b = v; break;\n        case 5: r = v, g = p, b = q; break;\n    }\n    return {\n        r: Math.round(r * 255),\n        g: Math.round(g * 255),\n        b: Math.round(b * 255)\n    };\n}\n\nvar outputMsgs = [];\nvar tem = msg.payload;\nvar aTem = (1-tem)-0.1667;\nif (aTem < 0) aTem = 1 + aTem;\nvar rgb = HSVtoRGB(aTem, 1, 1);\noutputMsgs.push({payload:rgb})\noutputMsgs.push({payload:aTem})\nreturn outputMsgs;","outputs":"2","noerr":0,"x":864,"y":1811.25,"z":"4d31febf.b2ce","wires":[["80efe594.7f1018"],["df84b785.207b48"]]},{"id":"700889f4.8ff778","type":"range","minin":"15","maxin":"30","minout":"0","maxout":"1","action":"clamp","round":false,"name":"Scale temperature","x":636.5833282470703,"y":1868.499948501587,"z":"4d31febf.b2ce","wires":[["a5601d40.5a9fe"]]},{"id":"80efe594.7f1018","type":"template","name":"Rewrite JSON msg","field":"payload","format":"handlebars","template":"{\"Command\":\"COLOR\",\"Color\":[{{payload.r}},{{payload.g}},{{payload.b}}]}\n","x":1273.6071090698242,"y":1805.6072034835815,"z":"4d31febf.b2ce","wires":[["9a4340f9.65bcc"]]},{"id":"df84b785.207b48","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1124.2500228881836,"y":1951.000011920929,"z":"4d31febf.b2ce","wires":[]},{"id":"96cd420e.6932c","type":"inject","name":"Green","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[0,255,0]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":165.07630920410156,"y":466.7175278663635,"z":"4d31febf.b2ce","wires":[["9a4340f9.65bcc"]]},{"id":"289da2d4.d7625e","type":"inject","name":"Orange","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[255,80,20]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":161.20498275756836,"y":402.12637758255005,"z":"4d31febf.b2ce","wires":[["9a4340f9.65bcc"]]},{"id":"71841ade.8e7be4","type":"mqtt in","name":"Balcony temp","topic":"sensornet/env/home/balcony/temperature","broker":"9eac092b.6153f8","x":148.5,"y":1823.6664600372314,"z":"4d31febf.b2ce","wires":[["700889f4.8ff778","8235c26f.7dca4","fd36164d.02c9e8"]]},{"id":"e8fb38f9.1704c8","type":"mqtt in","name":"Balcony humi","topic":"sensornet/env/home/balcony/humidity","broker":"9eac092b.6153f8","x":155.50000381469727,"y":1894.6665382385254,"z":"4d31febf.b2ce","wires":[["b5de4fc7.4a21b"]]},{"id":"dd147d49.22eb8","type":"http request","name":"Thingspeak update","method":"GET","ret":"txt","url":"https://api.thingspeak.com/update?key={{{APIKey}}}&field1={{{field1}}}&field2={{{field2}}}&field3={{{field3}}}","x":636.4166717529297,"y":1752.8332824707031,"z":"4d31febf.b2ce","wires":[["2d13cc46.d2ec34"]]},{"id":"423d605d.bdc2a","type":"debug","name":"Thingspeak indoor result","active":false,"console":"false","complete":"payload","x":872.8333435058594,"y":1305.750051498413,"z":"4d31febf.b2ce","wires":[]},{"id":"a7a329b3.585cd8","type":"mqtt out","name":"Dump","topic":"sensornet/command/dump","qos":"0","retain":"false","broker":"9eac092b.6153f8","x":425.7142982482908,"y":1120.5715312957764,"z":"4d31febf.b2ce","wires":[]},{"id":"afe55072.501ab","type":"inject","name":"Dump","topic":"sensornet/command/dump","payload":"dump","payloadType":"string","repeat":"","crontab":"","once":false,"x":157.71429824829102,"y":1122.5715312957764,"z":"4d31febf.b2ce","wires":[["a7a329b3.585cd8"]]},{"id":"8235c26f.7dca4","type":"function","name":"Context var","func":"context.global.balcony_temp=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":352.50000762939453,"y":1825.8332042694092,"z":"4d31febf.b2ce","wires":[[]]},{"id":"b5de4fc7.4a21b","type":"function","name":"Context var","func":"context.global.balcony_humi=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":351.2499694824219,"y":1896.666540145874,"z":"4d31febf.b2ce","wires":[[]]},{"id":"fd36164d.02c9e8","type":"function","name":"Thingspeak data","func":"msg.field1=context.global.balcony_temp\nmsg.field2=context.global.balcony_humi\nmsg.field3=context.global.balcony_brgt\nmsg.APIKey=\"89DQON6G9XOGVTR3\"\nif (msg.field1 === null || msg.field2 === null || msg.field3 === null) {\n    return; // eliminate null fields\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"x":413.75000381469727,"y":1754.5831985473633,"z":"4d31febf.b2ce","wires":[["dd147d49.22eb8"]]},{"id":"c33ca296.3cc36","type":"mqtt in","name":"Balcony bright","topic":"sensornet/env/home/balcony/brightness","broker":"9eac092b.6153f8","x":152.50000381469727,"y":1968.3331985473633,"z":"4d31febf.b2ce","wires":[["91711c1a.6e8ee"]]},{"id":"91711c1a.6e8ee","type":"function","name":"Context var","func":"context.global.balcony_brgt=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":354.9166564941406,"y":1968.66654586792,"z":"4d31febf.b2ce","wires":[[]]},{"id":"9a448261.65bb8","type":"mqtt in","name":"Living Room Motion","topic":"sensornet/env/home/living/motion","broker":"9eac092b.6153f8","x":165.83330535888672,"y":1544.9999542236328,"z":"4d31febf.b2ce","wires":[["93b19a3.f6c4e68","a06b86b4.5f9478"]]},{"id":"93b19a3.f6c4e68","type":"function","name":"Context var","func":"context.global.living_motion=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":396.58329010009766,"y":1566.5237770080566,"z":"4d31febf.b2ce","wires":[[]]},{"id":"43cb7d67.bc3484","type":"mqtt in","name":"Living Room Sound","topic":"sensornet/env/home/living/sound","broker":"9eac092b.6153f8","x":166.24998474121094,"y":1619.1666412353516,"z":"4d31febf.b2ce","wires":[["a5c46db5.5a3b9"]]},{"id":"a5c46db5.5a3b9","type":"function","name":"Context var","func":"context.global.living_sound=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":395.3333282470703,"y":1614.4999418258667,"z":"4d31febf.b2ce","wires":[[]]},{"id":"e4de15fa.1b21e8","type":"http request","name":"Thingspeak update","method":"GET","ret":"txt","url":"https://api.thingspeak.com/update?key={{{APIKey}}}&field1={{{field1}}}&field2={{{field2}}}&field3={{{field3}}}&field4={{{field4}}}&field5={{{field5}}}","x":648.3333129882812,"y":1396.6666259765625,"z":"4d31febf.b2ce","wires":[["423d605d.bdc2a"]]},{"id":"38fee16d.c7011e","type":"function","name":"Thingspeak data","func":"msg.field1=context.global.living_temp\nmsg.field2=context.global.living_motion\nmsg.field3=context.global.living_sound\nmsg.field4=context.global.living_humi\nmsg.field5=context.global.living_brgt\nmsg.APIKey=\"94R8F61EKX9BXNGQ\"\nif (msg.field1 === null || msg.field2 === null || msg.field3 === null || msg.field4 === null || msg.field5 === null) {\n    return; // eliminate null fields\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"x":410.66666412353516,"y":1281.7499709129333,"z":"4d31febf.b2ce","wires":[["e4de15fa.1b21e8"]]},{"id":"301bd21a.cfe42e","type":"mqtt in","name":"LivingRoom temp","topic":"sensornet/env/home/living/temperature","broker":"9eac092b.6153f8","x":165,"y":1351.6666793823242,"z":"4d31febf.b2ce","wires":[["38fee16d.c7011e","5ef67156.a1099"]]},{"id":"1d484bd3.e2b7b4","type":"mqtt in","name":"LivingRoom humi","topic":"sensornet/env/home/living/humidity","broker":"9eac092b.6153f8","x":166.66666412353516,"y":1411.6666812896729,"z":"4d31febf.b2ce","wires":[["284f0069.d7b1"]]},{"id":"522c4010.add3c","type":"mqtt in","name":"LivingRoom bright","topic":"sensornet/env/home/living/brightness","broker":"9eac092b.6153f8","x":165,"y":1471.6666831970215,"z":"4d31febf.b2ce","wires":[["6127b00.f9ed85"]]},{"id":"5ef67156.a1099","type":"function","name":"Context var","func":"context.global.living_temp=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":408.33329010009766,"y":1355.000015258789,"z":"4d31febf.b2ce","wires":[[]]},{"id":"284f0069.d7b1","type":"function","name":"Context var","func":"context.global.living_humi=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":401.6666564941406,"y":1418.333251953125,"z":"4d31febf.b2ce","wires":[[]]},{"id":"6127b00.f9ed85","type":"function","name":"Context var","func":"context.global.living_brgt=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":396.6666564941406,"y":1475,"z":"4d31febf.b2ce","wires":[[]]},{"id":"7c5dc281.83a23c","type":"prowl","title":"Intruder in Living Room","priority":0,"name":"Push Alarm","x":600.8095207214355,"y":2766.3808879852295,"z":"4d31febf.b2ce","wires":[]},{"id":"4e4e5b4.fb1b1a4","type":"mqtt in","name":"Motion Alarm","topic":"sensornet/env/home/living/alarm/motion","broker":"9eac092b.6153f8","x":123.09524536132812,"y":2764.0953159332275,"z":"4d31febf.b2ce","wires":[["97ff85c2.680078"]]},{"id":"878afeff.7875","type":"inject","name":"Arm All Alarms","topic":"sensornet/command/arm","payload":"arm","payloadType":"string","repeat":"","crontab":"","once":false,"x":133.66666412353516,"y":2456.666681289673,"z":"4d31febf.b2ce","wires":[["22108783.ddef78"]]},{"id":"22108783.ddef78","type":"mqtt out","name":"MQTT Send","topic":"","qos":"","retain":"","broker":"9eac092b.6153f8","x":527.523811340332,"y":2529.666748046875,"z":"4d31febf.b2ce","wires":[]},{"id":"282ad493.d7d52c","type":"mqtt in","name":"Status","topic":"sensornet/status/#","broker":"9eac092b.6153f8","x":98.5238151550293,"y":2134.381031036377,"z":"4d31febf.b2ce","wires":[["71f32f6d.8e0cd","696f7017.96909"]]},{"id":"90ada364.6f526","type":"inject","name":"DisArm All","topic":"sensornet/command/disarm","payload":"disarm","payloadType":"string","repeat":"","crontab":"","once":false,"x":120.66666412353516,"y":2508.666681289673,"z":"4d31febf.b2ce","wires":[["22108783.ddef78"]]},{"id":"97ff85c2.680078","type":"change","name":"Alarm Message","rules":[{"t":"set","p":"payload","to":"Intruder found"}],"action":"","property":"","from":"","to":"","reg":false,"x":377.66666412353516,"y":2765.095069885254,"z":"4d31febf.b2ce","wires":[["7c5dc281.83a23c"]]},{"id":"55962a62.aa69d4","type":"comment","name":"House alarms","info":"Turn on and off house alarms and send alarm via push message to the iPhone.\n","x":110.23809814453125,"y":2063.5717420578003,"z":"4d31febf.b2ce","wires":[]},{"id":"ed27f4fe.12d808","type":"comment","name":"Living room information","info":"Publish the readings of the sensors in the living room to Thingspeak.","x":395.71427154541016,"y":1225.7141609191895,"z":"4d31febf.b2ce","wires":[]},{"id":"b4b8ae8a.4b475","type":"comment","name":"Balcony information","info":"Publish the readings of the sensors in the balcony to Thingspeak.","x":391.4285888671875,"y":1691.4285888671875,"z":"4d31febf.b2ce","wires":[]},{"id":"9158b2c.f6ea75","type":"comment","name":"Force to update","info":"Issue a \"dump\" topic on the MQTT net. Devices that response to this topic are suppose to update the sensor readings onto the MQTT net.","x":211.42857142857142,"y":1044.2857142857142,"z":"4d31febf.b2ce","wires":[]},{"id":"d6be3781.2941c8","type":"comment","name":"Manual Color Control","info":"Set the color of the RingLED manually.","x":185.7142857142857,"y":322.85714285714283,"z":"4d31febf.b2ce","wires":[]},{"id":"fe2d4761.01d2b8","type":"inject","name":"Console 01 Display Off","topic":"sensornet/command/envconsole01/display/off","payload":"doff","payloadType":"string","repeat":"","crontab":"","once":false,"x":155.95237840924943,"y":2570.2381098611013,"z":"4d31febf.b2ce","wires":[["22108783.ddef78"]]},{"id":"a8b43d82.574bc","type":"inject","name":"Console 01 Display On","topic":"sensornet/command/envconsole01/display/on","payload":"don","payloadType":"string","repeat":"","crontab":"","once":false,"x":155.95238494873047,"y":2630.238214492798,"z":"4d31febf.b2ce","wires":[["22108783.ddef78"]]},{"id":"a06b86b4.5f9478","type":"function","name":"Motion Elapsed","func":"var now = new Date().getTime();    // contains the millisecond value since epoch needing to be divided by 1000 to get to Unix epoch time\nif (context.global.motion_elapsed === undefined)\n    context.global.motion_elapsed = now;\nvar elapsed = now - context.global.motion_elapsed;\n//context.global.motion_elapsed = now;\nif (msg.payload > 0) elapsed = 0;  // reset elapsed when we see motion\nmsg.payload = elapsed;\ncontext.global.nomotionfor = elapsed;\nreturn msg;","outputs":1,"noerr":0,"x":550.0000228881836,"y":1514.285810470581,"z":"4d31febf.b2ce","wires":[["3b0a0408.c4f5fc","466e7345.b9918c"]]},{"id":"3b0a0408.c4f5fc","type":"debug","name":"Elpased ms","active":true,"console":"false","complete":"payload","x":794.285717010498,"y":1504.2857055664062,"z":"4d31febf.b2ce","wires":[]},{"id":"466e7345.b9918c","type":"function","name":"When no motion for 30m","func":"if (!context.global.allarmed) {\n    if (context.global.enableAlarm && (context.global.nomotionfor > 30*60*1000)) {\n        return msg;\n    }\n}\nreturn;","outputs":1,"noerr":0,"x":670.0000305175781,"y":1597.1430044174194,"z":"4d31febf.b2ce","wires":[["7b8f80ec.84708","942fe48c.6bd018"]]},{"id":"7b8f80ec.84708","type":"mqtt out","name":"Arm alarm","topic":"sensornet/command/arm","qos":"","retain":"","broker":"9eac092b.6153f8","x":1022.1428775787354,"y":1556.9643287658691,"z":"4d31febf.b2ce","wires":[]},{"id":"71f32f6d.8e0cd","type":"function","name":"Set arm status","func":"var str = msg.payload;\nvar changed = false;\nif (context.global.allarmed === null) {\n    context.global.allarmed = false;\n    changed = true;\n}\nif (str == 'ARMED') {\n    if (!context.global.allarmed) {\n        context.global.allarmed = true;\n        changed = true;\n    }\n} else if (str == 'DISARMED') {\n    if (context.global.allarmed) {\n        context.global.allarmed = false;\n        changed = true;\n    }\n}\nmsg.allarmed=context.global.allarmed;\nif (changed)\n    return msg;\nelse\n    return;\n    ","outputs":1,"noerr":0,"x":295.95240783691406,"y":2194.5235748291016,"z":"4d31febf.b2ce","wires":[["c5e19a0c.3a1e68"]]},{"id":"b6c15855.493ea8","type":"function","name":"Telldus ONOFF","func":"// Node-RED function to\n// a) list all Telldus devices (device = everything in Telldus Live except sensors)\n//\n// The code below relies on the following modules to be installed in the Node-RED environment, including being set up\n// in the functionGlobalContext section of the Node-RED settings.js config file (see last section of http://nodered.org/docs/writing-functions.html page)\n//\n// a) Telldus-Live module (https://github.com/TheThingSystem/node-telldus-live)\n//\n//\n// The function will fire one output message for each device it gets information about from Telldus Live.\n// By default the device id and name is included in the messages, but this can be customised as needed.\n//\n\n// Define Telldus Live API credentials\nvar publicKey    = 'FEHUVEW84RAFR5SP22RABURUPHAFRUNU'\n  , privateKey   = 'ZUXEVEGA9USTAZEWRETHAQUBUR69U6EF'\n  , token        = '13469c397c5216df6db311f991b09b3f055d36f2a'\n  , tokenSecret  = '0b66cde0bc8c0afca00c56289b174cac'\n  , cloud\n  ;\n\nvar mydevice = msg.deviceid;\nvar onP = (msg.payload==='on');\n\n// Create and log into new TelldusAPI object\ncloud = new context.global.telldusLive.TelldusAPI({ publicKey  : publicKey\n                                  , privateKey : privateKey });\n\ncloud.login(token, tokenSecret, function(err, user) {\n  if (!!err) return console.log('login error: ' + err.message);\n\n  // Get list of all devices. Use async call to avoid blocking\n  cloud.getDevices(function(err, devices) {\n    var f, i;\n\n    if (!!err) return console.log('getDevices: ' + err.message);\n\n\n    f = function() {\n      return function(err, result) {\n        if (!!err) return console.log('onOffDevices: ' + err.message);\n        node.send({payload:result});\n        return;\n      };\n    };\n\n    // Loop over all devices, asynchcronously get the data for each\n    for (i = 0; i < devices.length; i++) {\n      if (devices[i].type === 'device' && devices[i].id === mydevice) {\n        node.log('found device: '+i+' '+devices[i].id);\n        cloud.onOffDevice(devices[i], onP, f());\n      }\n    }\n  });\n}).on('error', function(err) {\n  console.log('background error: ' + err.message);\n});\n\n\nreturn;\n","outputs":1,"noerr":0,"x":797.3809089660645,"y":2330.238307952881,"z":"4d31febf.b2ce","wires":[["d46bb873.2b9448"]]},{"id":"647e7dc7.9b8184","type":"change","name":"Turn on IPCam","rules":[{"t":"set","p":"deviceid","to":"846751"},{"t":"set","p":"payload","to":"on"}],"action":"","property":"","from":"","to":"","reg":false,"x":573.0952033996582,"y":2330.2381019592285,"z":"4d31febf.b2ce","wires":[["b6c15855.493ea8"]]},{"id":"d46bb873.2b9448","type":"debug","name":"Telldus-live IPCam On/Off","active":true,"console":"false","complete":"payload","x":1048.8094291687012,"y":2330.2383098602295,"z":"4d31febf.b2ce","wires":[]},{"id":"c5e19a0c.3a1e68","type":"switch","name":"IPCam On/Off selection","property":"allarmed","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":294.52381896972656,"y":2281.666395187378,"z":"4d31febf.b2ce","wires":[["647e7dc7.9b8184"],["cb306cc3.34cf9"]]},{"id":"cb306cc3.34cf9","type":"change","name":"Turn off IPCam","rules":[{"t":"set","p":"deviceid","to":"846751"},{"t":"set","p":"payload","to":"off"}],"action":"","property":"","from":"","to":"","reg":false,"x":575.9523124694824,"y":2398.2381687164307,"z":"4d31febf.b2ce","wires":[["b6c15855.493ea8"]]},{"id":"498258ff.b67da8","type":"inject","name":"IPCam off","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":119,"y":2395.999994277954,"z":"4d31febf.b2ce","wires":[["cb306cc3.34cf9"]]},{"id":"696f7017.96909","type":"debug","name":"All devices status","active":true,"console":"false","complete":"payload","x":300.71429443359375,"y":2115.9520416259766,"z":"4d31febf.b2ce","wires":[]},{"id":"942fe48c.6bd018","type":"debug","name":"Arm/Disarm","active":false,"console":"false","complete":"payload","x":1047.1429290771484,"y":1651.6428985595703,"z":"4d31febf.b2ce","wires":[]},{"id":"b334f256.4ccb1","type":"inject","name":"IPCam on","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":116,"y":2330,"z":"4d31febf.b2ce","wires":[["647e7dc7.9b8184"]]},{"id":"2d13cc46.d2ec34","type":"debug","name":"Thingspeak outdoor result","active":false,"console":"false","complete":"payload","x":934.2857513427734,"y":1738.571452140808,"z":"4d31febf.b2ce","wires":[]},{"id":"f811ef43.07ee1","type":"inject","name":"Enable alarm","topic":"","payload":"enable","payloadType":"string","repeat":"","crontab":"","once":false,"x":172.85714285714283,"y":2867.142857142857,"z":"4d31febf.b2ce","wires":[["111d0aed.eee2f5"]]},{"id":"6289e586.9d761c","type":"inject","name":"Disable alarm","topic":"","payload":"disable","payloadType":"string","repeat":"","crontab":"","once":true,"x":171.42857360839844,"y":2931.4284858703613,"z":"4d31febf.b2ce","wires":[["111d0aed.eee2f5"]]},{"id":"111d0aed.eee2f5","type":"function","name":"Enable/Disable Alarm","func":"var s = msg.payload;\nif (s === 'enable')\n    context.global.enableAlarm = true;\nelse\n    context.global.enableAlarm = false;\nreturn msg;","outputs":1,"noerr":0,"x":508.5714285714285,"y":2895.7142857142853,"z":"4d31febf.b2ce","wires":[[]]}]
