Node-Red/IoTHome-flow.js
[{"id":"d3cae7a7.2c3518","type":"mongodb","hostname":"10.0.1.253","port":"27017","db":"homeiot","name":"HomeIoT"},{"id":"9eac092b.6153f8","type":"mqtt-broker","broker":"10.0.1.250","port":"1883","clientid":"NodeRed"},{"id":"9a4340f9.65bcc","type":"mqtt out","name":"Set Light Color","topic":"/sensornet/command/color","qos":"","retain":"","broker":"9eac092b.6153f8","x":1380.5,"y":1324,"z":"4d31febf.b2ce","wires":[]},{"id":"cbcc447a.3433b8","type":"inject","name":"Full Brightness","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[255,255,255]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":166.75000762939453,"y":720.250006198883,"z":"4d31febf.b2ce","wires":[["6b9fb3b7.94604c"]]},{"id":"8418dab1.7be728","type":"inject","name":"Off","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[0,0,0]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":184.75000762939453,"y":779.250006198883,"z":"4d31febf.b2ce","wires":[["6b9fb3b7.94604c"]]},{"id":"8a616939.759e98","type":"inject","name":"Blue","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[0,0,255]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":188.75000762939453,"y":543.250006198883,"z":"4d31febf.b2ce","wires":[["6b9fb3b7.94604c"]]},{"id":"2005b3be.dffa4c","type":"inject","name":"Warm white","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[200,200,80]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":175.75000762939453,"y":606.250006198883,"z":"4d31febf.b2ce","wires":[["6b9fb3b7.94604c"]]},{"id":"4638d449.b9c72c","type":"inject","name":"Pink","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[255,40,40]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":187.75000762939453,"y":667.250006198883,"z":"4d31febf.b2ce","wires":[["6b9fb3b7.94604c"]]},{"id":"a5601d40.5a9fe","type":"function","name":"FalseColor","func":"/* accepts parameters\n * h  Object = {h:x, s:y, v:z}\n * OR \n * h, s, v\n*/\nfunction HSVtoRGB(h, s, v) {\n    var r, g, b, i, f, p, q, t;\n    if (arguments.length === 1) {\n        s = h.s, v = h.v, h = h.h;\n    }\n    i = Math.floor(h * 6);\n    f = h * 6 - i;\n    p = v * (1 - s);\n    q = v * (1 - f * s);\n    t = v * (1 - (1 - f) * s);\n    switch (i % 6) {\n        case 0: r = v, g = t, b = p; break;\n        case 1: r = q, g = v, b = p; break;\n        case 2: r = p, g = v, b = t; break;\n        case 3: r = p, g = q, b = v; break;\n        case 4: r = t, g = p, b = v; break;\n        case 5: r = v, g = p, b = q; break;\n    }\n    return {\n        r: Math.round(r * 255),\n        g: Math.round(g * 255),\n        b: Math.round(b * 255)\n    };\n}\n\nvar outputMsgs = [];\nvar tem = msg.payload;\nvar aTem = (1-tem)-0.1667;\nif (aTem < 0) aTem = 1 + aTem;\nvar rgb = HSVtoRGB(aTem, 1, 1);\noutputMsgs.push({payload:rgb});\noutputMsgs.push({payload:aTem});\nreturn outputMsgs;","outputs":"2","noerr":0,"x":898.9999656677246,"y":2059.583366394043,"z":"4d31febf.b2ce","wires":[["80efe594.7f1018","5bd6df21.a4292"],[]]},{"id":"700889f4.8ff778","type":"range","minin":"10","maxin":"35","minout":"0","maxout":"0.8333","action":"clamp","round":false,"name":"Scale temperature","x":688.2499961853027,"y":2100.166700363159,"z":"4d31febf.b2ce","wires":[["a5601d40.5a9fe"]]},{"id":"80efe594.7f1018","type":"template","name":"Rewrite JSON msg","field":"payload","format":"handlebars","template":"{\"Command\":\"COLOR\",\"Color\":[{{payload.r}},{{payload.g}},{{payload.b}}]}\n","x":1123.6071128845215,"y":2010.607250213623,"z":"4d31febf.b2ce","wires":[["9a4340f9.65bcc"]]},{"id":"96cd420e.6932c","type":"inject","name":"Green","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[0,255,0]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":165.07630920410156,"y":466.7175278663635,"z":"4d31febf.b2ce","wires":[["6b9fb3b7.94604c"]]},{"id":"289da2d4.d7625e","type":"inject","name":"Orange","topic":"/sensornet/command/color","payload":"{\"Command\":\"COLOR\",\"Color\":[255,80,20]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":161.20498275756836,"y":402.12637758255005,"z":"4d31febf.b2ce","wires":[["6b9fb3b7.94604c"]]},{"id":"71841ade.8e7be4","type":"mqtt in","name":"Balcony temp","topic":"sensornet/env/home/balcony/temperature","broker":"9eac092b.6153f8","x":155.1666603088379,"y":2030.3331680297852,"z":"4d31febf.b2ce","wires":[["8235c26f.7dca4","fd36164d.02c9e8","dd96bdcf.22694"]]},{"id":"e8fb38f9.1704c8","type":"mqtt in","name":"Balcony humi","topic":"sensornet/env/home/balcony/humidity","broker":"9eac092b.6153f8","x":162.16666412353516,"y":2101.333246231079,"z":"4d31febf.b2ce","wires":[["b5de4fc7.4a21b"]]},{"id":"dd147d49.22eb8","type":"http request","name":"Thingspeak update","method":"GET","ret":"txt","url":"https://api.thingspeak.com/update?key={{{APIKey}}}&field1={{{field1}}}&field2={{{field2}}}&field3={{{field3}}}","x":643.0833320617676,"y":1959.4999904632568,"z":"4d31febf.b2ce","wires":[["2d13cc46.d2ec34"]]},{"id":"423d605d.bdc2a","type":"debug","name":"Thingspeak indoor result","active":false,"console":"false","complete":"payload","x":872.8333435058594,"y":1305.750051498413,"z":"4d31febf.b2ce","wires":[]},{"id":"a7a329b3.585cd8","type":"mqtt out","name":"Dump","topic":"sensornet/command/dump","qos":"0","retain":"false","broker":"9eac092b.6153f8","x":425.7142982482908,"y":1120.5715312957764,"z":"4d31febf.b2ce","wires":[]},{"id":"afe55072.501ab","type":"inject","name":"Dump","topic":"sensornet/command/dump","payload":"dump","payloadType":"string","repeat":"","crontab":"","once":false,"x":157.71429824829102,"y":1122.5715312957764,"z":"4d31febf.b2ce","wires":[["a7a329b3.585cd8"]]},{"id":"8235c26f.7dca4","type":"function","name":"Context var","func":"var d = new Date()\nmsg.dtime = d.getTime()\nif (msg.payload !== null) {\n    context.global.balcony_temp=msg.payload\n    return msg\n}\nreturn","outputs":1,"noerr":0,"x":359.1666679382324,"y":2032.499912261963,"z":"4d31febf.b2ce","wires":[["5c0f491a.a3f0b8"]]},{"id":"b5de4fc7.4a21b","type":"function","name":"Context var","func":"var d = new Date()\nmsg.dtime = d.getTime()\nif (msg.payload !== null) {\n    context.global.balcony_humi=msg.payload\n    return msg\n}\nreturn\n","outputs":1,"noerr":0,"x":357.91662979125977,"y":2103.3332481384277,"z":"4d31febf.b2ce","wires":[["5c0f491a.a3f0b8"]]},{"id":"fd36164d.02c9e8","type":"function","name":"Thingspeak data","func":"var d = new Date()\nmsg.dtime = d.getTime()\nmsg.field1=context.global.balcony_temp\nmsg.field2=context.global.balcony_humi\nmsg.field3=context.global.balcony_brgt\nmsg.APIKey=\"89DQON6G9XOGVTR3\"\nif (msg.field1 === null || msg.field2 === null || msg.field3 === null) {\n    return; // eliminate null fields\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"x":420.41666412353516,"y":1961.249906539917,"z":"4d31febf.b2ce","wires":[["dd147d49.22eb8"]]},{"id":"c33ca296.3cc36","type":"mqtt in","name":"Balcony bright","topic":"sensornet/env/home/balcony/brightness","broker":"9eac092b.6153f8","x":159.16666412353516,"y":2174.999906539917,"z":"4d31febf.b2ce","wires":[["91711c1a.6e8ee"]]},{"id":"91711c1a.6e8ee","type":"function","name":"Context var","func":"var d = new Date()\nmsg.dtime = d.getTime()\nif (msg.payload !== null) {\n    context.global.balcony_brgt=msg.payload\n    return msg\n}\nreturn\n","outputs":1,"noerr":0,"x":361.5833168029785,"y":2175.3332538604736,"z":"4d31febf.b2ce","wires":[["5c0f491a.a3f0b8"]]},{"id":"9a448261.65bb8","type":"mqtt in","name":"Living Room Motion","topic":"sensornet/env/home/living/motion","broker":"9eac092b.6153f8","x":165.83330535888672,"y":1544.9999542236328,"z":"4d31febf.b2ce","wires":[["93b19a3.f6c4e68","a06b86b4.5f9478"]]},{"id":"93b19a3.f6c4e68","type":"function","name":"Context var","func":"var d = new Date()\nmsg.dtime = d.getTime()\nif (msg.payload !== null) {\n    context.global.living_motion=msg.payload\n    return msg\n}\nreturn\n","outputs":1,"noerr":0,"x":396.58329010009766,"y":1566.5237770080566,"z":"4d31febf.b2ce","wires":[["306fcbe9.cf9034"]]},{"id":"43cb7d67.bc3484","type":"mqtt in","name":"Living Room Sound","topic":"sensornet/env/home/living/sound","broker":"9eac092b.6153f8","x":166.24998474121094,"y":1619.1666412353516,"z":"4d31febf.b2ce","wires":[["a5c46db5.5a3b9"]]},{"id":"a5c46db5.5a3b9","type":"function","name":"Context var","func":"var d = new Date()\nmsg.dtime = d.getTime()\nif (msg.payload !== null) {\n    context.global.living_sound=msg.payload\n    return msg\n}\nreturn\n","outputs":1,"noerr":0,"x":395.3333282470703,"y":1614.4999418258667,"z":"4d31febf.b2ce","wires":[["306fcbe9.cf9034"]]},{"id":"e4de15fa.1b21e8","type":"http request","name":"Thingspeak update","method":"GET","ret":"txt","url":"https://api.thingspeak.com/update?key={{{APIKey}}}&field1={{{field1}}}&field2={{{field2}}}&field3={{{field3}}}&field4={{{field4}}}&field5={{{field5}}}","x":648.3333129882812,"y":1396.6666259765625,"z":"4d31febf.b2ce","wires":[["423d605d.bdc2a"]]},{"id":"38fee16d.c7011e","type":"function","name":"Thingspeak data","func":"var d = new Date()\nmsg.dtime = d.getTime()\nmsg.field1=context.global.living_temp\nmsg.field2=context.global.living_motion\nmsg.field3=context.global.living_sound\nmsg.field4=context.global.living_humi\nmsg.field5=context.global.living_brgt\nmsg.APIKey=\"94R8F61EKX9BXNGQ\"\nif (msg.field1 === null || msg.field2 === null || msg.field3 === null || msg.field4 === null || msg.field5 === null) {\n    return; // eliminate null fields\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"x":410.66666412353516,"y":1281.7499709129333,"z":"4d31febf.b2ce","wires":[["e4de15fa.1b21e8"]]},{"id":"301bd21a.cfe42e","type":"mqtt in","name":"LivingRoom temp","topic":"sensornet/env/home/living/temperature","broker":"9eac092b.6153f8","x":165,"y":1351.6666793823242,"z":"4d31febf.b2ce","wires":[["38fee16d.c7011e","5ef67156.a1099"]]},{"id":"1d484bd3.e2b7b4","type":"mqtt in","name":"LivingRoom humi","topic":"sensornet/env/home/living/humidity","broker":"9eac092b.6153f8","x":166.66666412353516,"y":1411.6666812896729,"z":"4d31febf.b2ce","wires":[["284f0069.d7b1"]]},{"id":"522c4010.add3c","type":"mqtt in","name":"LivingRoom bright","topic":"sensornet/env/home/living/brightness","broker":"9eac092b.6153f8","x":165,"y":1471.6666831970215,"z":"4d31febf.b2ce","wires":[["6127b00.f9ed85"]]},{"id":"5ef67156.a1099","type":"function","name":"Context var","func":"var d = new Date()\nmsg.dtime = d.getTime()\nif (msg.payload !== null) {\n    context.global.living_temp=msg.payload\n    return msg\n}\nreturn\n","outputs":1,"noerr":0,"x":408.33329010009766,"y":1355.000015258789,"z":"4d31febf.b2ce","wires":[["306fcbe9.cf9034"]]},{"id":"284f0069.d7b1","type":"function","name":"Context var","func":"var d = new Date()\nmsg.dtime = d.getTime()\nif (msg.payload !== null) {\n    context.global.living_humi=msg.payload\n    return msg\n}\nreturn\n","outputs":1,"noerr":0,"x":401.6666564941406,"y":1418.333251953125,"z":"4d31febf.b2ce","wires":[["306fcbe9.cf9034"]]},{"id":"6127b00.f9ed85","type":"function","name":"Context var","func":"var d = new Date()\nmsg.dtime = d.getTime()\nif (msg.payload !== null) {\n    context.global.living_brgt=msg.payload\n    return msg\n}\nreturn\n","outputs":1,"noerr":0,"x":396.6666564941406,"y":1475,"z":"4d31febf.b2ce","wires":[["306fcbe9.cf9034"]]},{"id":"7c5dc281.83a23c","type":"prowl","title":"Intruder in Living Room","priority":0,"name":"Push Alarm","x":607.4761810302734,"y":2973.047595977783,"z":"4d31febf.b2ce","wires":[]},{"id":"4e4e5b4.fb1b1a4","type":"mqtt in","name":"Motion Alarm","topic":"sensornet/env/home/living/alarm/motion","broker":"9eac092b.6153f8","x":129.76190567016602,"y":2970.7620239257812,"z":"4d31febf.b2ce","wires":[["97ff85c2.680078"]]},{"id":"878afeff.7875","type":"inject","name":"Arm All Alarms","topic":"sensornet/command/arm","payload":"arm","payloadType":"string","repeat":"","crontab":"","once":false,"x":140.33332443237305,"y":2663.3333892822266,"z":"4d31febf.b2ce","wires":[["22108783.ddef78"]]},{"id":"22108783.ddef78","type":"mqtt out","name":"MQTT Send","topic":"","qos":"","retain":"","broker":"9eac092b.6153f8","x":534.1904716491699,"y":2736.3334560394287,"z":"4d31febf.b2ce","wires":[]},{"id":"282ad493.d7d52c","type":"mqtt in","name":"Status","topic":"sensornet/status/#","broker":"9eac092b.6153f8","x":105.19047546386719,"y":2341.0477390289307,"z":"4d31febf.b2ce","wires":[["71f32f6d.8e0cd","696f7017.96909"]]},{"id":"90ada364.6f526","type":"inject","name":"DisArm All","topic":"sensornet/command/disarm","payload":"disarm","payloadType":"string","repeat":"","crontab":"","once":false,"x":127.33332443237305,"y":2715.3333892822266,"z":"4d31febf.b2ce","wires":[["22108783.ddef78"]]},{"id":"97ff85c2.680078","type":"change","name":"Alarm Message","rules":[{"t":"set","p":"payload","to":"Intruder found"}],"action":"","property":"","from":"","to":"","reg":false,"x":384.33332443237305,"y":2971.7617778778076,"z":"4d31febf.b2ce","wires":[["7c5dc281.83a23c"]]},{"id":"55962a62.aa69d4","type":"comment","name":"House alarms","info":"Turn on and off house alarms and send alarm via push message to the iPhone.\n","x":116.90475845336914,"y":2270.238450050354,"z":"4d31febf.b2ce","wires":[]},{"id":"ed27f4fe.12d808","type":"comment","name":"Living room information","info":"Publish the readings of the sensors in the living room to Thingspeak.","x":395.71427154541016,"y":1225.7141609191895,"z":"4d31febf.b2ce","wires":[]},{"id":"b4b8ae8a.4b475","type":"comment","name":"Balcony information","info":"Publish the readings of the sensors in the balcony to Thingspeak.","x":391.42857360839844,"y":1878.0952816009521,"z":"4d31febf.b2ce","wires":[]},{"id":"9158b2c.f6ea75","type":"comment","name":"Force to update","info":"Issue a \"dump\" topic on the MQTT net. Devices that response to this topic are suppose to update the sensor readings onto the MQTT net.","x":211.42857142857142,"y":1044.2857142857142,"z":"4d31febf.b2ce","wires":[]},{"id":"d6be3781.2941c8","type":"comment","name":"Manual Color Control","info":"Set the color of the RingLED manually.","x":185.7142857142857,"y":322.85714285714283,"z":"4d31febf.b2ce","wires":[]},{"id":"fe2d4761.01d2b8","type":"inject","name":"Console 01 Display Off","topic":"sensornet/command/envconsole01/display/off","payload":"doff","payloadType":"string","repeat":"","crontab":"","once":false,"x":162.61903871808732,"y":2776.904817853655,"z":"4d31febf.b2ce","wires":[["22108783.ddef78"]]},{"id":"a8b43d82.574bc","type":"inject","name":"Console 01 Display On","topic":"sensornet/command/envconsole01/display/on","payload":"don","payloadType":"string","repeat":"","crontab":"","once":true,"x":162.61904525756836,"y":2836.9049224853516,"z":"4d31febf.b2ce","wires":[["22108783.ddef78"]]},{"id":"a06b86b4.5f9478","type":"function","name":"Motion Elapsed","func":"var now = new Date().getTime();    // contains the millisecond value since epoch needing to be divided by 1000 to get to Unix epoch time\nif (context.global.motion_elapsed === undefined)\n    context.global.motion_elapsed = now;\nvar elapsed = now - context.global.motion_elapsed;\n//context.global.motion_elapsed = now;\nif (msg.payload > 0) elapsed = 0;  // reset elapsed when we see motion\nmsg.payload = elapsed;\ncontext.global.nomotionfor = elapsed;\nreturn msg;","outputs":1,"noerr":0,"x":550.0000228881836,"y":1514.285810470581,"z":"4d31febf.b2ce","wires":[["3b0a0408.c4f5fc","466e7345.b9918c"]]},{"id":"3b0a0408.c4f5fc","type":"debug","name":"Elpased ms","active":false,"console":"false","complete":"payload","x":794.285717010498,"y":1504.2857055664062,"z":"4d31febf.b2ce","wires":[]},{"id":"466e7345.b9918c","type":"function","name":"When no motion for 30m","func":"if (!context.global.allarmed) {\n    if (context.global.enableAlarm && (context.global.nomotionfor > 30*60*1000)) {\n        return msg;\n    }\n}\nreturn;","outputs":1,"noerr":0,"x":670.0000305175781,"y":1597.1430044174194,"z":"4d31febf.b2ce","wires":[["7b8f80ec.84708","942fe48c.6bd018"]]},{"id":"7b8f80ec.84708","type":"mqtt out","name":"Arm alarm","topic":"sensornet/command/arm","qos":"","retain":"","broker":"9eac092b.6153f8","x":1022.1428775787354,"y":1556.9643287658691,"z":"4d31febf.b2ce","wires":[]},{"id":"71f32f6d.8e0cd","type":"function","name":"Set arm status","func":"var str = msg.payload;\nvar changed = false;\nif (context.global.allarmed === null) {\n    context.global.allarmed = false;\n    changed = true;\n}\nif (str == 'ARMED') {\n    if (!context.global.allarmed) {\n        context.global.allarmed = true;\n        changed = true;\n    }\n} else if (str == 'DISARMED') {\n    if (context.global.allarmed) {\n        context.global.allarmed = false;\n        changed = true;\n    }\n}\nmsg.allarmed=context.global.allarmed;\nif (changed)\n    return msg;\nelse\n    return;\n    ","outputs":1,"noerr":0,"x":302.61906814575195,"y":2401.1902828216553,"z":"4d31febf.b2ce","wires":[["c5e19a0c.3a1e68"]]},{"id":"b6c15855.493ea8","type":"function","name":"Telldus ONOFF","func":"// Node-RED function to\n// a) list all Telldus devices (device = everything in Telldus Live except sensors)\n//\n// The code below relies on the following modules to be installed in the Node-RED environment, including being set up\n// in the functionGlobalContext section of the Node-RED settings.js config file (see last section of http://nodered.org/docs/writing-functions.html page)\n//\n// a) Telldus-Live module (https://github.com/TheThingSystem/node-telldus-live)\n//\n//\n// The function will fire one output message for each device it gets information about from Telldus Live.\n// By default the device id and name is included in the messages, but this can be customised as needed.\n//\n\n// Define Telldus Live API credentials\nvar publicKey    = 'FEHUVEW84RAFR5SP22RABURUPHAFRUNU'\n  , privateKey   = 'ZUXEVEGA9USTAZEWRETHAQUBUR69U6EF'\n  , token        = '13469c397c5216df6db311f991b09b3f055d36f2a'\n  , tokenSecret  = '0b66cde0bc8c0afca00c56289b174cac'\n  , cloud\n  ;\n\nvar mydevice = msg.deviceid;\nvar onP = (msg.payload==='on');\n\n// Create and log into new TelldusAPI object\ncloud = new context.global.telldusLive.TelldusAPI({ publicKey  : publicKey\n                                  , privateKey : privateKey });\n\ncloud.login(token, tokenSecret, function(err, user) {\n  if (!!err) return console.log('login error: ' + err.message);\n\n  // Get list of all devices. Use async call to avoid blocking\n  cloud.getDevices(function(err, devices) {\n    var f, i;\n\n    if (!!err) return console.log('getDevices: ' + err.message);\n\n\n    f = function() {\n      return function(err, result) {\n        if (!!err) return console.log('onOffDevices: ' + err.message);\n        node.send({payload:result});\n        return;\n      };\n    };\n\n    // Loop over all devices, asynchcronously get the data for each\n    for (i = 0; i < devices.length; i++) {\n      if (devices[i].type === 'device' && devices[i].id === mydevice) {\n        node.log('found device: '+i+' '+devices[i].id);\n        cloud.onOffDevice(devices[i], onP, f());\n      }\n    }\n  });\n}).on('error', function(err) {\n  console.log('background error: ' + err.message);\n});\n\n\nreturn;\n","outputs":1,"noerr":0,"x":804.0475692749023,"y":2536.9050159454346,"z":"4d31febf.b2ce","wires":[["d46bb873.2b9448"]]},{"id":"647e7dc7.9b8184","type":"change","name":"Turn on IPCam","rules":[{"t":"set","p":"deviceid","to":"846751"},{"t":"set","p":"payload","to":"on"}],"action":"","property":"","from":"","to":"","reg":false,"x":579.7618637084961,"y":2536.904809951782,"z":"4d31febf.b2ce","wires":[["b6c15855.493ea8"]]},{"id":"d46bb873.2b9448","type":"debug","name":"Telldus-live IPCam On/Off","active":true,"console":"false","complete":"payload","x":1055.476089477539,"y":2536.905017852783,"z":"4d31febf.b2ce","wires":[]},{"id":"c5e19a0c.3a1e68","type":"switch","name":"IPCam On/Off selection","property":"allarmed","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":301.19047927856445,"y":2488.3331031799316,"z":"4d31febf.b2ce","wires":[["647e7dc7.9b8184"],["cb306cc3.34cf9"]]},{"id":"cb306cc3.34cf9","type":"change","name":"Turn off IPCam","rules":[{"t":"set","p":"deviceid","to":"846751"},{"t":"set","p":"payload","to":"off"}],"action":"","property":"","from":"","to":"","reg":false,"x":582.6189727783203,"y":2604.9048767089844,"z":"4d31febf.b2ce","wires":[["b6c15855.493ea8"]]},{"id":"498258ff.b67da8","type":"inject","name":"IPCam off","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":125.66666030883789,"y":2602.666702270508,"z":"4d31febf.b2ce","wires":[["cb306cc3.34cf9"]]},{"id":"696f7017.96909","type":"debug","name":"All devices status","active":false,"console":"false","complete":"payload","x":307.38095474243164,"y":2322.6187496185303,"z":"4d31febf.b2ce","wires":[]},{"id":"942fe48c.6bd018","type":"debug","name":"Arm/Disarm","active":false,"console":"false","complete":"payload","x":1047.1429290771484,"y":1651.6428985595703,"z":"4d31febf.b2ce","wires":[]},{"id":"b334f256.4ccb1","type":"inject","name":"IPCam on","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":122.66666030883789,"y":2536.6667079925537,"z":"4d31febf.b2ce","wires":[["647e7dc7.9b8184"]]},{"id":"2d13cc46.d2ec34","type":"debug","name":"Thingspeak outdoor result","active":false,"console":"false","complete":"payload","x":940.9524116516113,"y":1945.2381601333618,"z":"4d31febf.b2ce","wires":[]},{"id":"f811ef43.07ee1","type":"inject","name":"Enable alarm","topic":"","payload":"enable","payloadType":"string","repeat":"","crontab":"","once":false,"x":179.52380316598072,"y":3073.8095651354106,"z":"4d31febf.b2ce","wires":[["111d0aed.eee2f5"]]},{"id":"6289e586.9d761c","type":"inject","name":"Disable alarm","topic":"","payload":"disable","payloadType":"string","repeat":"","crontab":"","once":true,"x":178.09523391723633,"y":3138.095193862915,"z":"4d31febf.b2ce","wires":[["111d0aed.eee2f5"]]},{"id":"111d0aed.eee2f5","type":"function","name":"Enable/Disable Alarm","func":"var s = msg.payload;\nif (s === 'enable')\n    context.global.enableAlarm = true;\nelse\n    context.global.enableAlarm = false;\nreturn msg;","outputs":1,"noerr":0,"x":515.2380888802663,"y":3102.380993706839,"z":"4d31febf.b2ce","wires":[[]]},{"id":"d0746f0b.2f8b9","type":"inject","name":"Auto","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":178.33332443237305,"y":848.3333072662354,"z":"4d31febf.b2ce","wires":[["87752a1b.788ad8"]]},{"id":"87752a1b.788ad8","type":"function","name":"Set auto light","func":"context.global.auto_light=true;\nmsg.payload=context.global.balcony_temp;\nreturn msg;","outputs":1,"noerr":0,"x":521.3333435058594,"y":849.3333129882812,"z":"4d31febf.b2ce","wires":[["700889f4.8ff778"]]},{"id":"6b9fb3b7.94604c","type":"function","name":"Unset auto light","func":"context.global.auto_light=false;\nreturn msg;","outputs":1,"noerr":0,"x":450.0000228881836,"y":625.0000247955322,"z":"4d31febf.b2ce","wires":[["9a4340f9.65bcc"]]},{"id":"dd96bdcf.22694","type":"function","name":"Is auto?","func":"if (context.global.auto_light)\n    return msg;\nelse\n    return;\n","outputs":1,"noerr":0,"x":501.66666412353516,"y":2068.333330154419,"z":"4d31febf.b2ce","wires":[["700889f4.8ff778"]]},{"id":"580faf47.a7f05","type":"comment","name":"Can use MQTT instead?","info":"","x":444,"y":950,"z":"4d31febf.b2ce","wires":[]},{"id":"46685106.b997b","type":"function","name":"Print","func":"msg.payload = context.global.enableAlarm;\nreturn msg;","outputs":1,"noerr":0,"x":392.6666603088379,"y":3218.6667079925537,"z":"4d31febf.b2ce","wires":[["313812fb.cec7ee"]]},{"id":"b8fb1256.4704f","type":"inject","name":"Print","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":156.6666603088379,"y":3219.6667079925537,"z":"4d31febf.b2ce","wires":[["46685106.b997b"]]},{"id":"313812fb.cec7ee","type":"debug","name":"","active":true,"console":"false","complete":"false","x":599.6666603088379,"y":3208.6667079925537,"z":"4d31febf.b2ce","wires":[]},{"id":"ee57bfaa.11a84","type":"http in","name":"/env","url":"/env","method":"get","swaggerDoc":"","x":239.99999999999997,"y":1792.8571428571427,"z":"4d31febf.b2ce","wires":[["46fb39dd.b904c8"]]},{"id":"6256523d.9da9ac","type":"http response","name":"/env","x":1248.428466796875,"y":1831.5712890625,"z":"4d31febf.b2ce","wires":[]},{"id":"bb67b48b.449848","type":"debug","name":"","active":false,"console":"false","complete":"payload","x":1226.857177734375,"y":1733.5712890625,"z":"4d31febf.b2ce","wires":[]},{"id":"10897a69.ef7686","type":"mqtt out","name":"MagicLight","topic":"sensornet/MagicLight-Spark/color","qos":"","retain":"","broker":"9eac092b.6153f8","x":1510,"y":2086,"z":"4d31febf.b2ce","wires":[]},{"id":"b9a98082.46568","type":"template","name":"Rewite for MagicLight","field":"payload","format":"handlebars","template":"COLOR {{payload.r}} {{payload.g}} {{payload.b}}","x":1300,"y":2066,"z":"4d31febf.b2ce","wires":[["10897a69.ef7686"]]},{"id":"fccf4381.0330c","type":"inject","name":"Init","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":740,"y":609,"z":"4d31febf.b2ce","wires":[["42606991.bd9f98"]]},{"id":"42606991.bd9f98","type":"function","name":"Set Auto-light","func":"context.global.auto_light=true;\nreturn msg;","outputs":1,"noerr":0,"x":936,"y":609,"z":"4d31febf.b2ce","wires":[[]]},{"id":"5bd6df21.a4292","type":"function","name":"MagicLight switch","func":"if (context.global.auto_magiclight === false) {\n    msg.payload = {'r':0,'g':0,'b':0}\n}\nreturn msg;","outputs":1,"noerr":0,"x":1107,"y":2121,"z":"4d31febf.b2ce","wires":[["b9a98082.46568"]]},{"id":"283859cf.d7c7a6","type":"function","name":"Set auto MagicLight","func":"context.global.auto_magiclight=true;\nmsg.payload=context.global.balcony_temp;\nreturn msg;","outputs":1,"noerr":0,"x":795,"y":2321,"z":"4d31febf.b2ce","wires":[["700889f4.8ff778"]]},{"id":"b154c3c5.4eab4","type":"inject","name":"Auto MagicLight","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":584,"y":2325,"z":"4d31febf.b2ce","wires":[["283859cf.d7c7a6"]]},{"id":"35284e76.cad7b2","type":"function","name":"Unset Auto MagicLight","func":"context.global.auto_magiclight=false;\nreturn msg;","outputs":1,"noerr":0,"x":1319,"y":2164,"z":"4d31febf.b2ce","wires":[["10897a69.ef7686"]]},{"id":"f7f9fcd5.0806","type":"inject","name":"MagicLight Off","topic":"","payload":"COLOR 0 0 0","payloadType":"string","repeat":"","crontab":"","once":false,"x":607,"y":2377,"z":"4d31febf.b2ce","wires":[["35284e76.cad7b2"]]},{"id":"5c0f491a.a3f0b8","type":"mongodb out","mongodb":"d3cae7a7.2c3518","name":"Insert Home IOT","collection":"environment","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":600.5,"y":2207,"z":"4d31febf.b2ce","wires":[]},{"id":"306fcbe9.cf9034","type":"mongodb out","mongodb":"d3cae7a7.2c3518","name":"Insert Home IOT","collection":"environment","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":642,"y":1233,"z":"4d31febf.b2ce","wires":[]},{"id":"4d561f.ffb2a9e","type":"mongodb in","mongodb":"d3cae7a7.2c3518","name":"Lookup DB","collection":"environment","operation":"find","x":706,"y":1743,"z":"4d31febf.b2ce","wires":[["7db4361c.824bc8"]]},{"id":"46fb39dd.b904c8","type":"function","name":"Latest Temperature","func":"var qtime = new Date()\nqtime = qtime - 30*60*1000\nvar query = {}\nquery[\"topic\"] = /\\/temperature$/i\nquery[\"dtime\"] = {\"$gt\": qtime}\nvar proj = {topic:1,payload:1,dtime:1,_id:0}\nmsg.projection = proj\nmsg.payload = query\nmsg.limit=1\nmsg.sort={dtime:-1}\nreturn msg;","outputs":1,"noerr":0,"x":474,"y":1800,"z":"4d31febf.b2ce","wires":[["4d561f.ffb2a9e"]]},{"id":"93d4c317.6c2b4","type":"template","name":"HTML","field":"payload","format":"html","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<p id=\"p1\">Current temperature is {{payload.payload}}</p>\n<p id=\"p2\">Topic is {{payload.topic}}</p>\n<p id=\"p0\">Last update: <span id=\"p3\">datetime</span></p>\n\n<script>\nvar dt = new Date({{payload.dtime}})\ndocument.getElementById(\"p3\").innerHTML = dt.toString();\n</script>\n\n</body>\n</html> ","x":1023,"y":1771,"z":"4d31febf.b2ce","wires":[["6256523d.9da9ac","bb67b48b.449848"]]},{"id":"7db4361c.824bc8","type":"function","name":"First element","func":"msg.payload=msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":887,"y":1827,"z":"4d31febf.b2ce","wires":[["93d4c317.6c2b4"]]}]
